@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-neon-green: #39FF14;
  --color-neon-blue: #00F0FF;
  --color-electric-purple: #8B5CF6;
  --color-lava-orange: #FF5500;
  --color-dark-bg: #0B0F19;
  --color-dark-card: #161D30;
}

@layer base {
  body {
    background-color: var(--color-dark-bg);
    color: #F3F4F6;
    font-family: var(--font-sans);
  }
}

